<%- include("../partials/header") %>

<% for (var i=0; i< orders.length; i++) { %>

<table class="ui unstackable striped table" style="padding-left:25px; padding-right:25px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Ordered</th>
        <th>E-mail</th>
        <th>Phone No.</th>
        <th>Order Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= orders[i].custName %></td>
        <td><%= orders[i].created.toDateString() %></td>
        <td><%= orders[i].email %></td>
        <td><%= orders[i].PhNo %></td>
        <td><a href="/orders/<%=orders[i]._id%>/acceptReject"><button class="ui orange button">View Details</button></a></td>
      </tr>
    </tbody>
  </table> 
<% } %>

<%- include("../partials/footer") %>