<%- include("../partials/header") %>


<div class="ui main text container">
<div class="ui huge header">Product Catalogue</div>
<div class="ui divided items">
   

   <% for(var i=0; i<catalogues.length; i++) { %>
    <div class="item">
      <div class="image">
        <img src="data:image/<%=catalogues[i].image.contentType%>;base64, 
  <%=catalogues[i].image.data.toString('base64')%>">
      </div>
      <div class="content">
        <a class="header" href="catalogue/<%=catalogues[i]._id%>"><%= catalogues[i].name %></a>
        <div class="meta">
          <span class="cinema"><%= catalogues[i].type %></span>
        </div>
        <div class="description">
          <p></p>
        </div>


        <% if(!currentUser){  %>

        <div class="extra">
          <a href="catalogue/<%=catalogues[i]._id%>">
          <div class="ui right floated primary button" data-inverted="" data-tooltip="View Complete Details" data-position="bottom center">
            View More
            <i class="right chevron icon"></i>
          </div></a>
          <div class="ui label"><i class="balance scale icon"></i> <%= catalogues[i].weight %>Grams</div>
          <div class="ui label"><i class="globe icon"></i> Catogory <%= catalogues[i].catogory %></div>
        </div>
        <%  }else{  %>
          <div class="extra">
            <a href="catalogue/<%=catalogues[i]._id%>">
            <div class="ui right floated primary button">
              Edit/View Product
              <i class="right chevron icon"></i>
            </div></a>
            <div class="ui label"><i class="globe icon"></i> Additional charges</div>
            <div class="ui label"><i class="balance scale icon"></i> <%= catalogues[i].weight %>Grams</div>
            <div class="ui label"><i class="globe icon"></i> Catogory <%= catalogues[i].catogory %></div>
          </div>
          <% } %>
      </div>
    </div>
   <% } %>


</div>

</div>
<%- include("../partials/footer") %>








